<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1851.music.admin.mapper.SysAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft1851.music.admin.entity.SysAdmin">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="avatar" property="avatar" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

<!--    <select id="selectByName" resultType="com.soft1851.music.admin.entity.SysAdmin">-->
<!--            SELECT * FROM sys_admin WHERE name = #{name}-->
<!--</select>-->

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, password, salt, avatar, create_time, update_time, status
    </sql>

</mapper>
